body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}
p {
  text-align: center;
  margin : auto;
}
form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    margin-top: 20px;         /* Adds spacing above */
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #065cb9;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #007bff;
}
label[for="state"] {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    cursor: pointer;
}
label {
    font-size: 1.2rem;         
    font-weight: 600;          
    color: #333;               
    margin-bottom: 6px;        
    display: block;            
    font-family: 'Segoe UI', sans-serif; 
}